.nav{
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    height: 40px;
    z-index: 999;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    color: #fff;
}

.nav_links{
    display: flex;
    gap: 2rem;
    cursor: pointer;
    position: fixed;
    left: 13%;
    z-index: 1;
}

.nav_links > p:hover{
    opacity: 0.8;
}

.nav_contents {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 5px;
}

.nav_logo{
    position: fixed;
    top: 20px;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 10px;
    cursor: pointer;
}

.nav_avatar{
    position: fixed;
    right: 20px;
    width: 50px;
    cursor: pointer;
}

.nav_black{
    background-color: black;
}

.search {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    padding-left: 0.5rem;
    margin-right: 8%;
}

.search > svg {
    color: white;
    font-size: 1.2rem;
    width: 25px;
}

.search > input {
    width: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    background-color: transparent;
    border: none;
    color: white
}

.search > input:focus{
    outline: none;
}

.show-search {
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    z-index: 99;
}   

.show-search > input {
    width: 100%;
    opacity: 1;
    visibility: visible;
    padding: 0.3rem;
    z-index: 99;
}

@media screen and (max-width: 1150px){
    .nav_links{
        left: 20%
    }

    .search{
        margin-right: 5rem;
    }
}


@media screen and (max-width: 850px){
    .nav_links{
        left: 25%
    }
}

@media screen and (max-width: 650px) {
    .nav_logo{
        width: 100px;
    }

    .nav_links{
        left: 30%;
        top: 3%
    }
}